@import url('https://fonts.googleapis.com/css2?family=Puritan&display=swap');

* {
    font-family: 'Puritan', sans-serif;
    color: #fff;
    margin:0;
    padding: 0;
}

.mainBlock{
    background: radial-gradient(50% 50% at 50% 50%, #BAAFDA 0%, #2E2B35 0.12%, #252034 100%);
    width: 100vw;
    height: 100vh;
    background-attachment:fixed;

}

.logo {
    background: no-repeat url(./img/LOGO\ main.svg);
    position: absolute;
    width: 110px;
    height: 110px;
    left: 96px;
    top: 44px;
}

.basil{
    background: no-repeat url(./img/green.png);
    position: absolute;
    width: 452px;
    height: 257px;
    left: 368px;
    top: 0px;
}

.icons {
    display: flex;
    margin-left: 1300px;
    padding-top: 33px;
}
.icons .favorite {
    background: no-repeat url(./img/favorite.svg);
    width: 20px;
    height: 19px;
    padding-right: 20px;
}

.icons .basket {
    background: no-repeat url(./img/basket.svg); 
    width: 20px;
    height: 21px;
}

.flexbox {
    display: flex;
    justify-content: center;
    margin-top: 85px;

}

.currentNamePizza {
    letter-spacing: 0.5em;
    padding-top: 10px;
    width: 350px;
}

.name {
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    padding: 10px;
    letter-spacing: 14px;
}

.ingredients {
    font-size: 12px;
    line-height: 15px;
    padding-left: 10px;
}

.size {
    display:flex;
    flex-direction: column;
    margin-right: 280px;
    margin-left: 130px;
}

.choiceSize {
    font-size: 20px;
    padding-left: 27px;
}
.sizeSML {
    display:flex;
    margin: 20px;
    justify-content: center;
    letter-spacing: normal;
}

.sizeS{    
    padding: 10px 15px;
    border: 1px solid #E5E5E5;
    border-radius: 50px;}
.sizeM{
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px 12px;
    border: 1px solid #E5E5E5;
    border-radius: 50px;
}
.sizeL{    
    padding: 10px 15px;
    border: 1px solid #E5E5E5;
    border-radius: 50px;}

.basket {
    margin-right: 130px;
    display: flex;
}

.basketIcon {
    background: no-repeat url(./img/basket.svg); 
    width: 32px;
    height: 35px;
    margin-left: 10px;
}

.menuBlock{}
.menu{}
.menuCircle{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1300px;
    height: 1300px;
    border-radius: 50%;
}
.menuCircle_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menuCircle_content{
    position: absolute;
    bottom: 120%;
    left: 50%;
    width: 0;
    transform-origin: 0 100%;
    padding-bottom: 630px;
    font-size: 18px;
}
.large{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    border: 2px solid rgba(229, 229, 229, 0.7);
}
.large_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    transform-origin: 100% 0%;
    transform: rotate(122deg);
    padding-top:594px;

}
.large_content{
    width: 15px;
    height: 15px;
    background: rgba(229, 229, 229, 1);
    border-radius: 50%;

}
.middle{}
.middle{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1050px;
    height: 1050px;
    border-radius: 50%;
    border: 2px solid rgba(229, 229, 229, 0.7);
}
.middle_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    transform-origin: 100% 0%;
    transform: rotate(122deg);
    padding-top:594px;

}
.middle_content{
    width: 15px;
    height: 15px;
    background: rgba(229, 229, 229, 1);
    border-radius: 50%;

}
.small{
    position: absolute;
    width: 1000px;
    height: 920px;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: no-repeat url(./img/pizza.png);
}
.nav{
    display: flex;
    justify-content: space-between;
}

.left, .right {
    background-color: rgba(229, 229, 229, 0.7);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* .menuCircle{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1300px;
    height: 1300px;
    border-radius: 50%;
    border: 2px solid rgba(229, 229, 229, 0.7);
}
.large_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.large_content{
    position: absolute;
    bottom: 120%;
    left: 50%;
    width: 0;
    transform-origin: 0 100%;
    outline: 2px dotted gold;
    padding-bottom: 650px;
    font-size: 18px;


} */