@import url('https://fonts.googleapis.com/css2?family=Puritan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

* {
    font-family: 'Puritan', 'Prosto One', sans-serif;
    color: #fff;
    margin:0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y:hidden;
}

.mainBlock{
    background: radial-gradient(50% 50% at 50% 50%, #BAAFDA 0%, #2E2B35 0.12%, #252034 100%);
    width: 100vw;
    height: 100vh;
    background-attachment:fixed;

}

.logo {
    background: no-repeat url(./img/LOGO\ main.svg);
    position: absolute;
    width: 110px;
    height: 110px;
    left: 90px;
    top: 40px;
}

.basil{
    background: no-repeat url(./img/green.png);
    position: absolute;
    width: 442px;
    height: 247px;
    left: 368px;

}

.icons {
    display: flex;
    margin-left: 1300px;
    padding-top: 33px;
}
.icons .favorite {
    background: no-repeat url(./img/favorite.svg);
    width: 20px;
    height: 19px;
    padding-right: 20px;
}

.icons .basket {
    background: no-repeat url(./img/basket.svg); 
    width: 20px;
    height: 21px;
}

.flexbox {
    display: flex;
    justify-content: center;
    margin-top: 85px;

}

.currentNamePizza {
    letter-spacing: 0.5em;
    padding-top: 10px;
    width: 350px;
}

.name {
    font-size: 22px;
    line-height: 27px;
    padding: 10px;
    letter-spacing: 14px;
}

.ingredients {
    width: 250px;
    font-size: 12px;
    padding-left: 10px;
    letter-spacing: 2px
}

.size {
    display:flex;
    flex-direction: column;
    margin-right: 280px;
    margin-left: 50px;
    z-index: 1;
    /* font-family: 'Prosto One'; */
}

.choiceSizeText {
    font-size: 16px;
    padding-left: 32px;
    color: rgba(255, 255, 255, 0.5);
}
.sizeSML {
    display:flex;
    margin: 20px;
    justify-content: center;
    letter-spacing: normal;
}
input {
    display: none;
}
.sizeSML label {
	display: flex;
	cursor: pointer;
    box-sizing: border-box;
    margin: 0 10px;
    border: 1px solid rgba(59, 43, 91, 0.7);
	user-select: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
 
/* Checked */
.sizeSML input:checked + label {
    border: 1px solid rgba(255, 255, 255, 0.5);
}
 
/* Hover */
.sizeSML label:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
 
.priceBlock {
    margin-right: 65px;
    display: flex;
    font-size: 24px;
}

.basketIcon {
    background: no-repeat url(./img/basket.svg); 
    width: 32px;
    height: 35px;
    margin-left: 10px;
}

.controlPanel {
    display: flex;
    justify-content: space-between;
    margin: 45px 180px 0 190px;
    letter-spacing: 2px;
}

.addToBasket,
.saveToFavorites { color: rgba(255, 255, 255, 0.5);}
.menuCircle{
    position: absolute;
    top: 123%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1300px;
    height: 1300px;
    border-radius: 50%;
}
.menuCircle_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menuCircle_content{
    position: absolute;
    bottom: 130%;
    left: 50%;
    width: 0;
    transform-origin: 0 100%;
    padding-bottom: 630px;
    font-size: 18px;
}
.large{
    position: absolute;
    top: 123%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    border: 2px solid rgba(229, 229, 229, 0.7);
}
.large_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    transform-origin: 100% 0%;
    transform: rotate(122deg);
    padding-top:594px;
}
.large_content{
    width: 15px;
    height: 15px;
    background: rgba(229, 229, 229, 1);
    border-radius: 50%;
}
.middle{
    position: absolute;
    top: 123%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    border: 2px solid rgba(229, 229, 229, 0.7);
}

.small{
    position: absolute;
    width: 800px;
    height: 800px;
    top: 123%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(229, 229, 229, 0.7);
    border-radius: 50%;
}
img {
    position: absolute;
    top: -13%;
    left: -8%;
    transform: scale(0.9);
    max-height: 120%;
    max-width: 120%;
}

.nav{
    display: flex;
    justify-content: space-between;

}


.left, .right {
    width: 45px;
    height: 45px;
    background: no-repeat url(./img/leftButton.svg);
    margin: 80px 50px 0 50px;
    border-radius: 50%;
}
.right {
    transform: rotate(180deg);
}
/* Checked */
.left:active, .right:active {
    border: 1px solid rgba(255, 255, 255, 0.5);
}
 
/* Hover */
.left:hover, .right:hover {
	background-color: rgba(255, 255, 255, 0.5);
}


/* .menuCircle{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1300px;
    height: 1300px;
    border-radius: 50%;
    border: 2px solid rgba(229, 229, 229, 0.7);
}
.large_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.large_content{
    position: absolute;
    bottom: 120%;
    left: 50%;
    width: 0;
    transform-origin: 0 100%;
    outline: 2px dotted gold;
    padding-bottom: 650px;
    font-size: 18px;


} */